@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Yanone+Kaffeesatz');

/* NAVBAR STYLES */
.logo {
  position: absolute;
  top: 0;
  height: 45px;
}

.navbar-default {
  background-color: #2a2c37;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #34b6ff;
  background-color: transparent;
}

/* JUMBOTRON STYLES */
.yosemite {
  width: 100%;
  text-align: center;
  min-height: 800px;
  margin: 0px auto;
  background-image: url('../img/yosemite-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* ABOUT ME STYLES */
#about_me {
  background-color: #2a2c37;
  min-height: 800px;
  padding-top: 40px;
  text-align: center;
  border-top: 3px solid #34b6ff;
  border-bottom: 3px solid #34b6ff;
}

.abt-header {
  color: #fff;
  font-size: 4em;
}

.profile-pic {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 3px solid #fff;
}

.blurb {
  color: white;
  padding-top: 30px;
}

/* PROJECTS STYLES */

.fresno {
  width: 100%;
  text-align: center;
  min-height: 800px;
  margin: 0px auto;
  background-image: url('../img/fresno-city.jpg');
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 3px solid #34b6ff;
}

.projects-container {
  padding-top: 40px;
}

.project-img {
  width: 100%;
  height: auto;
}

/* CONTACT STYLES */

#contact {
  background-color: #2a2c37;
  min-height: 600px;
  padding-top: 40px;
  text-align: center;
  color: #fff;
}

.contact-header {
  font-size: 4em;
  color: #fff;
}


.contact-input {
  height: 150px;
}
