@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Yanone+Kaffeesatz');

/* NAVBAR STYLES */
.logo {
  position: absolute;
  top: 0;
  height: 45px;
}

.navbar-default {
  background-color: #2a2c37;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #34b6ff;
  background-color: transparent;
}

/* JUMBOTRON STYLES */
.yosemite {
  width: 100%;
  text-align: center;
  min-height: 400px;
  margin: 0px;
  background-image: url('../img/yosemite-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.hero-container {
  width: 100%;
}

.herotext {
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 100px;
  background-color:rgba(204, 205, 206, 0.5);
  width:100%;
}

.herotext h1 {
  font-size: 4em;
}

.herotext h3 {
  font-size: 2em;
}

/* ABOUT ME STYLES */
#about_me {
  background-color: #2a2c37;
  min-height: 800px;
  padding-top: 40px;
  text-align: center;
  border-top: 3px solid #34b6ff;
  border-bottom: 3px solid #34b6ff;
}

.abt-header {
  color: #fff;
  font-size: 4em;
  font-family: 'Josefin Sans', sans-serif;
}

.profile-pic {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 3px solid #fff;
}

.blurb {
  color: white;
  padding-top: 40px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
}

/* PROJECTS STYLES */

.fresno {
  width: 100%;
  text-align: center;
  min-height: 800px;
  margin: 0px auto;
  background-image: url('../img/fresno-city.jpg');
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 3px solid #34b6ff;
}

.projects-container {
  padding-top: 40px;
}

.project-header {
  font-family: 'Josefin Sans', sans-serif;
}

.project-img {
  width: 100%;
  height: auto;
}

.project-img:hover {
  opacity: 0.5;
}

.projects-container h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* CONTACT STYLES */

#contact {
  background-color: #2a2c37;
  min-height: 600px;
  padding-top: 40px;
  text-align: center;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

.contact-header {
  font-size: 4em;
  color: #fff;
}

.social {
  padding-top: 40px;
  color: white;
}

.social a {
  color: #fff;
  padding: 0px 15px;
}

.social a:hover {
  color: #34b6ff;
}


/* MEDIA QUERIES */
@media screen and (min-width: 600px) {
  .yosemite {
    min-height: 800px;
  }
  .herotext {
    margin-top: 220px;
  }
  .herotext h1 {
    font-size: 5em;
  }
  .herotext h3 {
    font-size: 2.5em;
  }
}
